# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
ProjetChatFront/dist
ProjetChatFront/tmp
ProjetChatFront/out-tsc
ProjetChatFront/bazel-out

# Node
ProjetChatFront/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
ProjetChatFront/connect.lock
ProjetChatFront/coverage
ProjetChatFront/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

data/WiredTiger.lock
data/mongod.lock
data/WiredTiger.turtle
data/WiredTiger.wt
data/WiredTigerHS.wt
data/metrics.interim
data/diagnostic.data/metrics.interim