.app-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.users-list {
  width: 250px;
  overflow-y: auto;
  background-color: #f7f7f7; /* Contraste avec le chat */
  border-right: 1px solid #ddd;
}

.user {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.user:hover, .user.active {
  background-color: #e9ecef;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  align-items: center;
  background-color: #00B2FF; /* Bleu Messenger */
  color: white;
  padding: 10px;
}

.chat-logo {
  width: 50px; /* Taille réduite du logo */
  height: auto;
  margin-right: 50px;
}


.messages {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #E5E5E5; /* Fond des messages */
  padding: 10px; /* Réduction de l'espacement */
}

.message {
  margin-bottom: 8px; /* Réduction de l'espace entre les messages */
}

.message-content {
  max-width: 60%;
  padding: 4px 8px; /* Padding réduit pour des bulles plus petites */
  border-radius: 15px; /* Rayon ajusté pour garder l'aspect arrondi */
  color: #000;
}


.mine {
  background-color: #0078FF; /* Bleu pour les messages envoyés */
  color: white; /* Texte blanc */
  margin-left: auto;
}

.message:not(.mine) {
  background-color: #ffffff; /* Vert clair pour les messages reçus */
}

.message-input {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 18px;
  outline: none;
}
