<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjetChat</title>
</head>
<body>
    <h1>ProjetChat</h1>
    <div class="login-container">
        <div class="login-card">
            <h1 class="login-title">Login</h1>
            <form class="login-form" #loginForm="ngForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="email">Your email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="name@company.com" required [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="form-control" required [(ngModel)]="password">
                </div>
                
                <button type="submit" class="btn btn-primary">Login</button>
                <div *ngIf="errorMessage" class="error-message">
                    <span>{{errorMessage}}</span>
                </div>
                <p class="sign-up-text">
                    Don't have any account? <a href="/sign-up">Sign up here</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
