<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjetChat</title>
    <link rel="stylesheet" href="sign-up.component.css">
</head>
<body>
    <div class="container">
        <span class="logo">ProjetChat</span>
    </div>
    <div class="signup-container">
        <div class="signup-card">
            <h1 class="signup-title">Create an account</h1> 
            <form class="signup-form" action="#">
                <div class="form-group">
                    <label for="email">Username</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Your username" required [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="nom">Firstname</label>
                    <input type="firstname" name="firstname" id="firstname" placeholder="Your name" class="form-control" required [(ngModel)]="firstname">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="form-control" required [(ngModel)]="password">
                </div>
                <button type="submit" class="btn btn-primary" (click)="register()">Create an account</button>
                <div *ngIf="errorMessage" class="error-message">
                    <span>{{errorMessage}}</span>
                </div>
                <p class="sign-up-text">
                    Already have an account? <a href="/login">Login here</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
