:root {
    --primary-color: #229def; 
    --error-color: #721c24;
    --error-background: #f8d7da;
    --error-border: #f5c6cb;
    --font-color: #333;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --background-color: #fff;
    --border-color: #ccc;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    transition: transform 0.3s ease-in-out;
  }
  
  .signup-container:hover {
    transform: translateY(-5px);
  }
  
  .signup-form .form-control {
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    border-radius: 20px;
    transition: border-color 0.3s;
  }
  
  .signup-form .form-control:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 0 2px rgba(102, 191, 255, 0.5);
  }
  
  .signup-form .btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text-on-primary);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .signup-form .btn-primary:hover {
    background-color: darken(var(--primary-color), 5%);
  }
  .signup-logo {
    display: block;
    margin: 0 auto 20px auto; /* Centrer le logo horizontalement et ajouter une marge en bas */
    width: 100px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Pour conserver les proportions de l'image */
  }
  
  