:root {
    --primary-color: #229def; 
    --error-color: #721c24;
    --error-background: #f8d7da;
    --error-border: #f5c6cb;
    --font-color: #333;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --background-color: #fff;
    --border-color: #ccc;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    width: 100%;
    max-width: 360px; /* Ajustement pour ressembler à Messenger */
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form .form-group {
    margin-bottom: 15px;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--font-color);
  }
  
  .signup-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 20px; /* Bords arrondis pour ressembler à Messenger */
    box-sizing: border-box;
  }
  
  .signup-form .btn-primary {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px; /* Bords arrondis */
    color: var(--text-on-primary);
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-form .btn-primary:hover {
    background-color: darken(var(--primary-color), 5%);
}